body {
    padding-top: 100px;
    background: #000000 url('http://cdn28.us1.fansshare.com/photograph/background/background-grey-1827669078.jpg') 
     

}
.wrap {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    cursor: pointer;
}

.wrap div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: 50% 50%;
    background-size: 220px;
    background-repeat: no-repeat;
    
    color: rgb(0, 0, 0);
    text-shadow: 0 1px rgba(0,0,0,.3);
    font: bold 1em sans-serif;
}

.side-a {
    background: #161616 url('https://raw.githubusercontent.com/Luiizb/logo-teste/main/Logo%203d.png');
    box-shadow: inset 0 0 60px rgb(10, 10, 10), 0 12px 20px -10px rgb(0, 0, 0);
    
}
.side-b {
    background: #e4e4e4 url('https://raw.githubusercontent.com/Luiizb/logo-teste/main/Logo%203d%202.png');
    box-shadow: inset 0 0 60px rgb(157, 157, 157), 0 12px 20px -10px rgb(0, 0, 0);
}
    
/*Transform*/
body {
    -webkit-perspective: 800px;
}

.wrap {
    transition: -webkit-transform 1s ease-in;
    -webkit-transform-style: preserve-3d;
}

.wrap div {
    position: absolute;
    -webkit-backface-visibility: hidden;
}

.side-a {
    z-index: 100;
}

.side-b {
    -webkit-transform: rotateY(-180deg);
}

.wrap:hover {
    -webkit-transform: rotateY(-.5turn);
}
    
  